@import "compass";
@import "susy";
@import "breakpoint";

$desc: 70em;

$susy: (
        columns: 12,
        gutters: .25,
        math: fluid,
);

.l-page {
  @include container($desc);
}

.l-header {
  @include clearfix;

  .l-branding {
    @include span(3);
  }
  .l-region--header {
    @include span(9 at 4 of 12);
  }
  .l-region--navigation {
    @include full;
  }
}

.l-main {
  @include clearfix;

  .l-region--sidebar-first {
    @include span(3 of 12);
  }

  .l-content {
    @include span(9 at 4 of 12);
  }
}
