/* line 13, ../sass/sidebar.layout.scss */
.l-page {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  .l-page:after {
    content: " ";
    display: block;
    clear: both; }

/* line 17, ../sass/sidebar.layout.scss */
.l-header {
  overflow: hidden;
  *zoom: 1; }
  /* line 20, ../sass/sidebar.layout.scss */
  .l-header .l-branding {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }
  /* line 23, ../sass/sidebar.layout.scss */
  .l-header .l-region--header {
    width: 74.57627%;
    float: right;
    margin-right: 0; }
  /* line 26, ../sass/sidebar.layout.scss */
  .l-header .l-region--navigation {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }

/* line 31, ../sass/sidebar.layout.scss */
.l-main {
  overflow: hidden;
  *zoom: 1; }
  /* line 34, ../sass/sidebar.layout.scss */
  .l-main .l-region--sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }
  /* line 38, ../sass/sidebar.layout.scss */
  .l-main .l-content {
    width: 74.57627%;
    float: right;
    margin-right: 0; }

/*# sourceMappingURL=sidebar.layout.css.map */
